# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# iOS
ios/App/build/
ios/App/Pods/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/DerivedData/
ios/xcuserdata/

# Capacitor
ios/capacitor-cordova-ios-plugins/

# IDE
.idea/
.vscode/
*.swp
*.swo

# SQLite
*.sqlite
*.sqlite3
*.db
